Dziękujemy za skorzystanie z naszych usług <%= @car.client_first_name %></h1>

 Poinforumujemy Cię na miesiąc przed końcem ważności przeglądu twojego auta: <%= @car.name %> o numerze rejestracyjnym: <% @car.plate_number %>.<br>


      Kontakt:<%= @url %>.
